body {
  background-color: lightblue;
  display: block;
  grid-template-columns: auto auto auto auto 300px;
  overflow: visible;
  text-align: center;
}

#about-melissa {
  overflow: auto;
  background-color: lightblue;
}

h1,h2 {
  font-family: cursive;
}

h3 {
  text-align: center;
  color: purple;
  font-family: cursive;
  font-size: 30px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 100px;
  max-width: 900px;
}

.grid-container1 {
  display: run-in;
  grid-template-columns: auto auto auto;
  
}

.grid-item {
  border: 1px none rgba(0, 0, 0, 0.8);
  text-align: center;
}

.grid-item-1 {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  background: linear-gradient(to bottom left, lightblue, purple);
}

#profile {
  border-radius: 50%;
}

.grid-item-2 {
  background: linear-gradient(to bottom right, lightblue, purple);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px;
}

#logo {
  border-style: hidden;
  border-radius: 75%;
} 

.contents {
  display: inline-grid;
  grid-template-columns: 1fr 400fr ;
  width: 100%;
  height: 100%;
  max-width: 900px;
  min-height: 610px;
}

#sidebar {
  width: 225px;
  float: left;
  padding: 50px 0px 0px 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}

#sidebar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}
.sidebar-content {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

#display {
  height: 100%;
  width: 100%;
  float: right;
}
/* Controls outside of the box */
.display-contents {
  width: 100%;
  height: 100%;
}

/* Controls what you can see in the frame */
.display-contents iframe {
  width: 100%;
  height: 100%;
  border: hidden;
}

footer {
  background: linear-gradient(to top right, lightblue, purple);
  position: fixed;
  height: auto;
  bottom: 0;
  width: 100%;
  left: 0;
  vertical-align: top;
}

footer p {
  color: white;
  font-weight: 100;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
  float: right;
}

footer ul {
  list-style-type: none;
}